<%= render 'partials/repin' %>

<div class="w-container pin_show">
  <div class="w-row row">
    <div class="w-col w-col-6">
      <div class=" grid-item pin_wrapper show_page pin_<%= @pin.id %>" data-pin=<%= @pin.id %>>
    <div class="pin_picture_cover">
        <div class="pin_holder">
            <%= image_tag(@pin.image.url, class: 'border') %>
        </div>
        <div class="cover_right">
            <div class="actions" style="transform:scale(0.6);">
                <div class="w-inline-block pin_button_holder">
                    <img src="https://daks2k3a4ib2z.cloudfront.net/55eb2faca85cc70a6a61a2ee/566379ce6568717a4207d58e_retweet_white.svg"  class="pin_button"></div>
                <%= render 'pins/like', pin: @pin %>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="title"><strong><%= @pin.title %></strong></div>
    </div>
    <div class="w-clearfix pin-user-info">
        <%= link_to has_boards_path(@pin.user.profile_name), data: {no_turbolink: true} do %>
           <%= image_tag @pin.user.avatar.url, class: "pin-avatar" %>
        <% end %>
        <div class="pin-user-name"><%= @pin.user.real_name %></div>
        <%= link_to board_path(@pin.board), class: "pinboardname", data: {no_turbolink: true} do %>
            <%= @pin.board.title %>
        <% end %>
    </div>
    </div>
    </div>
    <div class="w-col w-col-6 bb">
      <div class="comment_div">
        <ul class="w-list-unstyled">
              <%= render @comments %>
        </ul>
        <%= form_for [@pin, Comment.new], data: { remote: true} do |f| %>
            <%= f.text_area :content, rows: 4, placeholder: 'May the comment force be with you.', class: 'w-input comment_content' %>
            <%= f.submit class: 'w-button submit_button', data: {disable_with: 'Commenting...'} %>
        <% end %>
      </div>
    </div>
  </div>
 </div>

<h3 style='margin-bottom:5%;'>Other pins on this board</h3>
<div class="grid">
    <div class="grid-sizer"></div>
        <div class="together">
            <%= render @siblings %>
        </div>
</div>



<%= will_paginate @siblings %>


<div class="la-ball-pulse la-dark" style="margin:auto; margin-top:5%; margin-bottom:5%; display:none;">
    <div></div>
    <div></div>
    <div></div>
</div>

<script>
  var ready;
  ready = function() {
      
    
    $('.bb').niceScroll()
    
    $('.repin_to_board').click(function() {

            var pin = $('.selected').attr('data-pin')
            var board = $(this).attr('data-board');

            $.ajax({

                url: "/repins",
                type: "POST",
                data: {
                    pin_id: pin,
                    board_id: board
                },
                dataType: "script",
                success: function() {
                    $('.repin_cover').fadeOut('fast')
                },
                error: function() {
                    swal({   
                         title: "Hmmmm!",   
                         text: "Looks like you are trying to save that pin multiple times to that board",   
                         type: "error",
                         timer: 2000
                    });
                }
            })
        })
      
    $('.pin_wrapper').mouseenter(function() {
        $(this).find('.cover_right').css({
            "opacity": 1,
            "transition": "opacity 50ms ease 0ms"
        });
        $(this).find('.actions').css({
            "transition": "transform 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55)",
            "transform":"scale(1)"
        })
    });
    
    $('.pin_wrapper').mouseleave(function() {
        $(this).find('.cover_right').css({
            "opacity":0,
            "transition":"opacity 50ms ease 0ms"
        });
        $(this).find('.actions').css({
            "transition": "transform 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55)",
            "transform":"scale(0.6)"
        })
    });
    
    $(window).bindWithDelay("scroll", function(){
        var url = $('.pagination .next_page').attr('href');
        if (url && $(window).height() > $(document).height() - $(window).scrollTop() - 250) {
            $('.la-dark').css({'display': 'block'});
            $.ajax({
                url: url,
                dataType: ('script'),
                success: function() {
                    var $grid = $('.grid').masonry({
                        itemSelector: '.grid-item',
                        percentPosition: true,
                        columnWidth: '.grid-sizer',
                        gutter: 10
                    });
                    
                    $('.la-dark').css({'display': 'none'});
                    
                    $grid.masonry('reloadItems');
                    // layout Isotope after each image loads
                    $grid.imagesLoaded().progress(function() {
                        $grid.masonry();
                    });

                    $('.pin_wrapper').mouseenter(function() {
                        $(this).find('.cover_right').css({
                            "opacity": 1,
                            "transition": "opacity 250ms ease 0ms"
                        });
                        $(this).find('.actions').css({
                            "transition": "transform 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55)",
                            "transform": "scale(1)"
                        })
                    });
                    $('.pin_wrapper').mouseleave(function() {
                        $(this).find('.cover_right').css({
                            "opacity": 0,
                            "transition": "opacity 250ms ease 0ms"
                        });
                        $(this).find('.actions').css({
                            "transition": "transform 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55)",
                            "transform": "scale(0.6)"
                        })
                    });
                    $('.pin_button_holder').click(function() {
                        $('.repin_cover').css({
                            "display": "block"
                        })
                    })
                    $('.pin_button_holder').click(function() {

                        $('.pin_wrapper').removeClass('selected');
                        $('.repin_image').attr('src', '');
                        $(this).closest('.pin_wrapper').addClass('selected');

                        result = $('.pin_wrapper').filter('.selected').find('.pin_holder').children().filter("img").attr('src');
                        $('.repin_image').attr('src', result.replace('frontpage_', ''));

                    });
                }
            });
        }
    }, 250);
    
    $(document).on('keyup', function(e){
    if (e.keyCode == 27){
        $('.repin_close').click();
    }
    })
    
    $('.pin_button_holder').click(function(){
        $('.repin_cover').css({"display":"block"})
    })
    
    $('.repin_close').click(function(){
        $('.repin_cover').css({"display":"none"})
    })
    // init Masonry
    var $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      columnWidth: '.grid-sizer',
      gutter: 10
    });
    // layout Isotope after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry();
    });  
    
    
    $('.pin_button_holder').click(function(){
        
        $('.pin_wrapper').removeClass('selected');
        $('.repin_image').attr('src', '');
        $(this).closest('.pin_wrapper').addClass('selected');
        
        result = $('.pin_wrapper').filter('.selected').find('.pin_holder').children().filter("img").attr('src');
        $('.repin_image').attr('src', result.replace('frontpage_',''));
        
    }); 
    
    var whatever = function() {
        $('.bb').css({
            height: +$('.show_page').height()
        })
    }
    
    setTimeout(whatever, 1000);

    };

    $(document).ready(ready);
    $(document).on('page:load', ready);
    
</script>